:root{
    --main-bg-color:white;
    --main-text-color:black;
    --main-frame-color:rgb(44, 101, 172);
}
*{
    box-sizing: border-box;
}
/* header */
header{
    z-index: 100;
    position: fixed;
    background-color:white;
    width:100%;
    display: flex;
    padding:10px 15px;
    justify-content: center;
    box-shadow: 0px 0px 5px .5px #ccc;
}
.header_fullscreen a{
    text-decoration:none;
    cursor: pointer;
    color:var(--main-frame-color);
}
.header_logo{
    flex:3;
    display: flex;
    justify-content: start;
    font-size:1.2em;
    font-family:sans-serif;
    font-weight: bold;
    user-select: none;
    color:var(--main-frame-color);
    text-decoration:none;
}
.header_fullscreen{
    flex:1;
    display: block;
    justify-content: end;
    font-size:1.2em;
}
#fullscreen_btn{
    float: right;
}
#closeFullscreen_btn{
    display: none;
    float: right;
}

/* body */
body{
    margin:0;
    padding:0;
    background-color:rgb(245, 245, 245);
}
main::before{
    content: '';
    display: block;
    width:100%;
    height: 50px;
}
main::after{
    content: '';
    display: block;
    width:100%;
    height:70px;
}

/* common */
.message{
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #1F92F4;
}
.message_red{
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #ee331a;
}
.flex{
    display: flex;
    margin-top:10px;
}

/* for topic border bottom color  */
.flex:nth-child(1) > section .topic{
    border-bottom:3px solid rgb(56, 148, 223);
}
.flex:nth-child(2) > section .topic{
    border-bottom:3px solid rgb(8, 179, 182);
}
.flex:nth-child(3) > section .topic{
    border-bottom:3px solid rgb(0, 30, 255);
}
.flex:nth-child(4) > section .topic{
    border-bottom:3px solid rgb(242, 218, 36);
}
.flex:nth-child(5) > section .topic{
    border-bottom:3px solid rgb(16, 94, 189);
}
.flex:nth-child(6) > section .topic{
    border-bottom:3px solid rgb(177, 151, 0);
}
.flex:nth-child(7) > section .topic{
    border-bottom:3px solid rgb(213, 0, 195);
}
.flex:nth-child(8) > section .topic{
    border-bottom:3px solid rgb(12, 101, 179);
}

.flex > section{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 5px;
}
.flex > section .topic{
    width:100%;
    text-align: center;
    font-size:1.4em;
}
.flex > section .content > h5,.flex > section .content > h4,.flex > section .content > h2{
    margin:0;
    text-align:center;
}


/* show content dialog use */

.showContent{
    display: none;
    justify-content: center;
    align-items: center;
    width:100%;
    position: fixed;
    top:40px;
    bottom:55px;
}
.show_content_bg{
    background-color: rgba(58, 58, 58, 0.7);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.showContent > section{
    z-index: 100;
    width:95%;
    min-height:100px;
    max-height:90% ;
    overflow: scroll;
    background-color:white;
    border-radius:10px;
    position: relative;
    padding:20px;
}
.showContent > section > .close_content_btn{
    position: absolute;
    top:20px;
    right:10px;
    cursor: pointer;
}
.close_content_btn > span{
    width:20px;
    height:3px;
    background-color:rgb(128, 128, 128);
    display: block;
    transform-origin: 8px 2px;
}
.close_content_btn > span:nth-child(1){
    transform:rotate(45deg);
}
.close_content_btn > span:nth-child(2){
    transform:rotate(-45deg);
}



/* footer */

footer nav ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    background-color:white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 2px 1px #ccc;
}
footer nav ul li{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    font-size:1.7em;
    text-decoration:none;
    color:var(--main-text-color);
    cursor: pointer;
    padding:10px;
    color:rgb(198, 198, 198);
}
nav ul li a.select_page{
    color:var(--main-frame-color);
    font-size:2.2em;
}
footer{
    z-index: 100;
    position: fixed;
    bottom: 0;
    width:100%;
}


